* {
    box-sizing: border-box;
    color: white;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
}
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    body.background{background-image: url('Hunt_Assets/bgSecondary.jpg');}
}

body {
    background-color: black;
    background-repeat: no-repeat;
    position: 0;
    z-index: 1;
    font-family:'Courier New', Courier, monospace;
    font-size:larger;

    padding-top:20px;
    overflow:scroll;
}

body.background {
    background-color: black;
    background-image: url('Hunt_Assets/bgSecondary.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100%;
    max-width: fit-content;
    width:auto;
    height:auto;
    z-index: -100000;
    overflow-x:hidden
}

.column1{
    z-index:0;
    max-width: 360px;
    max-height: auto;
    overflow:auto;
    display: inline-block;
    position:fixed;
    left:0;
    top:0;
    bottom:auto;
    padding-left:5px;
    padding-top:5px;
    padding-right:auto;
    padding-bottom: 15px;
}

div.column1 div.termBox{
    z-index: 10;
    max-width:400px;
    max-height:fit-content;
    background-color: black;
    opacity: .6;
    margin:5px;
    margin-bottom: auto;
    padding: 5px;
}

div.column1 div.termBox div.reference{
    z-index: 10;
    max-width: inherit;
    opacity: 1;
    margin:5px;
    padding: 5px;
}

.column2{
    z-index:1;
    max-width: 360px;
    display: block;
    margin-left:auto;
    margin-right:auto;

    padding-left: auto;
    padding-right: auto;
}

.column3{
    z-index: 0;
    max-width: 360px;
    width:100%;
    display: block;
    padding-left: auto;
    padding-right: auto;
}

.row1{
    z-index:1;
}

.row2{
    z-index:1;
}

.row3{
    z-index:1;
}