* {
    box-sizing: border-box;
    color: white;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
}    
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    body.background{background-image: url('Hunt_Assets/bgSecondary.jpg');}
    .column1, .column2, .column3 {
        display:relative;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    position: 0;
    z-index: 1;
    font-family:'Courier New', Courier, monospace;
    font-size:larger;
    padding-top:20px;
    overflow:hidden;
}
body.background {
    background-color: black;
    background-image: url('Hunt_Assets/bgSecondary.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100%;
    max-width: fit-content;
    width:auto;
    height:auto;
    z-index: -100000;
    overflow-x:hidden
}

table, th, td {border: 1px hidden;}
th, td {
    width: 34%;
}
table{
    width:100%;
    text-align:left;
    vertical-align:top
}

#display_area

#column1{
    z-index: 0;
    max-height: 100%;
    margin:20px;
    overflow-y: scroll;
}
#column2{
    z-index: 0;
    vertical-align: top;
}
#column3{
    z-index: 0;
    text-align:right;
    vertical-align: top;
}
